<div class="outer-container">
<p id="notice"><%= notice %></p>



<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email_id %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Contact:</b>
  <%= @customer.contact_no %>
</p>
<p>
  <b>Date_Time:</b>
  <%= @customer.date_time %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-link"  %> |
<%= link_to 'Back', customers_path, class: "btn btn-link"  %>
</div>
